{% block title %}
{% endblock %}

{% block content %}
<h3 style="text-align: center;">
    Which of these two workers do you hire?
</h3>
<p style="text-align: center;"><i>(Please just click on the shape of the worker who you want to hire.)
    </i>
    </p>
<hr>

<form>
<div class="profiles">
<div class="profileleft">
<div id="bordermiddle"></div>
<div class="profilecontent">
<label for="w1">
{{i1 | safe}}
    <div class="avatar">
    {{ if profile1.gender == "female" }}
    <img class="avatarimg" src="{% static "global/avatar_f.png" %}" />
    {{ elif profile1.gender == "male" }}
    <img class="avatarimg" src="{% static "global/avatar_m.png" %}" />
    {{ endif }}
    {{ if player.participant.task == "logic" }}
    <div class="name">
        <h3 style="text-align:left; vertical-align: middle; line-height:100px"> {{ profile1.mat_range }} </h3>
    </div>
    {{ elif player.participant.task == "realeffort" }}
    <div class="name">
        <h3 style="text-align:left; vertical-align: middle; line-height:100px"> {{ profile1.re_range }} </h3>
    </div>
    {{ endif }}
    </div>
</label>
</div>
</div>


<div class="profileright">
<div class="profilecontent">
<label for="w2">
{{i2 | safe}}
    <div class="avatar">
    {{ if profile2.gender == "female" }}
    <img class="avatarimg" src="{% static "global/avatar_f.png" %}" />
    {{ elif profile2.gender == "male" }}
    <img class="avatarimg" src="{% static "global/avatar_m.png" %}" />
    {{ endif }}
    {{ if player.participant.task == "logic" }}
    <div class="name">
        <h3 style="text-align:left; vertical-align: middle; line-height:100px"> {{ profile2.mat_range }} </h3>
    </div>
    {{ elif player.participant.task == "realeffort" }}
    <div class="name">
        <h3 style="text-align:left; vertical-align: middle; line-height:100px"> {{ profile2.re_range }} </h3>
    </div>
    {{ endif }}
    </div>
</label>
</div>
</div>
</div>
</form>

<br >
<table style="font-size:1.1rem; table-layout: fixed; width:80%; margin-left:auto; margin-right:auto;">
    <tr style="line-height: 5px;">
        <td style="width:40%;font-weight:bold"> &nbsp; </td>
        <td style="width:20%;font-weight:bold"> &nbsp; </td>
        <td style="width:40%;font-weight:bold"> &nbsp; </td>
    </tr>
    <tr>
        <td style = "width:40%;text-align:center;font-weight:bold">{{ profile1.gender }}</td>
        <td style = "width:20%;text-align:center;font-weight:bold">Gender</td>
        <td style = "width:40%;text-align:center;font-weight:bold">{{ profile2.gender }}</td>
    </tr>
    <tr>
        <td style = "width:40%;text-align:center;font-weight:bold">{{ profile1.age }}</td>
        <td style = "width:20%;text-align:center;font-weight:bold">Age</td>
        <td style = "width:40%;text-align:center;font-weight:bold">{{ profile2.age }}</td>
    </tr>
    <tr>
        <td style = "width:40%;text-align:center;font-weight:bold">{{ profile1.nat }}</td>
        <td style = "width:20%;text-align:center;font-weight:bold">Nationality</td>
        <td style = "width:40%;text-align:center;font-weight:bold">{{ profile2.nat }}</td>
    </tr>
</table>


    <hr>
    <br>

    <div class="center">
    {% next_button %}
    </div>
    <br>
<div style="text-align:center;"> (Decision {{ player.round_number }} of {{ C.NUM_ROUNDS }})</div>


<input type="hidden" name="offer1" value="{{profile1_id}}" id="offer1"/>
<input type="hidden" name="offer2" value="{{profile2_id}}" id="offer2"/>
<input type="hidden" name="range1" value="{{profile1_range}}" id="range1"/>
<input type="hidden" name="range2" value="{{profile2_range}}" id="range2"/>
<input type="hidden" name="decision_gender" value=""/>
<input type="hidden" name="score1" value="{{profile1_score}}" id="score1"/>
<input type="hidden" name="score2" value="{{profile2_score}}" id="score2"/>


{{ formfield_errors 'offer1' }}
{{ formfield_errors 'offer2' }}
{{ formfield_errors 'range1' }}
{{ formfield_errors 'range2' }}
{{ formfield_errors 'score1' }}
{{ formfield_errors 'score2' }}
{{ formfield_errors 'decision' }}
{{ formfield_errors 'decision_gender' }}

    {% endblock %}


{% block styles %}
<link href="{% static 'global/custom.css' %}" rel="stylesheet">
<style type="text/css">

#content{
  width:100%;
  heigth:500px;
  margin 0 10% 0 10%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.compare{
  float:left;
  width:45%;
  margin-left:2.5%;
  margin-right:2.5%;
}

.pictures{
  max-width:100%;
  heigth:auto;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + .avatar{ /* IMAGE STYLES */
  cursor:pointer;
  border:8px solid transparent;
}
label > input:checked + .avatar{ /* (RADIO CHECKED) IMAGE STYLES */
  border:8px solid #008000;
}


    .vertical-line{
        height: 50%;
        }

    .profiles{
        height: 100%;
        width: 100%;
        overflow: hidden;
     }

    .profiles .profileleft{
        border-right: 2px solid gray;
        height: 100%;
        width: 50%;
        overflow: hidden;
        float: left;
        padding-right: 30px;
    }


    .profiles .profileright{
        height: 100%;
        width: 50%;
        overflow: hidden;
        float:right;
        padding-left: 30px;

    }

    .profilecontent{
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .profileright .profilecontent .avatar{
        position:relative;
        float: left;
        width: 442px;
        height: 130px;
        margin-left: 0px;
    }

    .profileleft .profilecontent .avatar{
        position:relative;
        float: left;
        width: 442px;
        height: 130px;
        margin-left: 0px;
    }

    .avatar .avatarimg{
        position: relative;
        width: 100x;
        height: 100%;
        float:left;
        overflow: hidden;
    }

    .avatar .name{
        position: relative;
        width: 50%;
        height: 150px;
        float: left;
        margin-top:1%;
        margin-left: 20px;
        }

    .divBox{
        margin-top: 80px;
        margin-bottom: 5px;
    }

    .display{
        visibility: visible;
        }

    .label{
        font-size: 1.5rem;
        float: left;
        position:relative;
        }

    .max{
        color: #2db92d;
        font-weight: bold;
        }

    .min{
        color: #CD5C5C;
        font-weight: bold;
        }

    .equal{
        font-weight: normal;
        }

    .info {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        }

    .info .infotext {
        visibility: hidden;
        width: 500px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: -50px;
        left: 150%;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 0.9rem;
        font-weight: 400;
        line-height:130%
    }

    .info .infotext::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent black transparent transparent;

        }

    .info:hover .infotext {
        visibility: visible;
        }

</style>
{% endblock %}


{% block scripts %}

<script src="{% static 'global/prev_next_button.js' %}"></script>
<script src="https://kit.fontawesome.com/291f047144.js" crossorigin="anonymous"></script>
{% endblock %}