{{ block title }}
Part II
{{ endblock %}

{{ block content }}

<hr>
<p><i>Please read the following explanations carefully!!</i></p>
<hr>

<h5><u>Your task</u></h5>
<p>
  In this part, you will be asked to choose one of two workers.
<p>
<p>
  You will repeatedly be presented with a randomly drawn pair of workers from our pool of workers.
  It is your task to hire one of the two workers.
</p>


<br />

{{ if player.participant.task == "logic" }}
<h5><u>Your bonus payment</u></h5>
<p>
    In the end one of your decisions will be randomly drawn as the <b>decision-that-counts</b>.
    If you hired the <b>better</b> of the two workers in the decision-that-counts (i.e. the one with the
    <b>higher total score in the logic task</b>), you will get a bonus payment of <b>{{ C.flatbonus }}</b>.
    However, if you hired the worse of the two workers in the decision-that-counts (i.e. the one with the
    <b>lower score in the logic task</b>), you will get <b>no bonus</b> payment.
</p>
{{ endif }}

{{ if player.participant.task == "realeffort" }}
<h5><u>Your bonus payment</u></h5>
<p>
    In the end one of your decisions will be randomly drawn as the <b>decision-that-counts</b>.
    If you hired the <b>better</b> of the two workers in the decision-that-counts (i.e. the one with the
    <b>higher total score in the logic task</b>), you will get a bonus payment of <b>{{ C.flatbonus }}</b>.
    However, if you hired the worse of the two workers in the decision-that-counts (i.e. the one with the
    <b>lower score in the logic task</b>), you will get <b>no bonus</b> payment.
</p>
{{ endif }}

<br />

<h5><u>Data</u></h5>
    <i>
    Remember: All data that you enter in this survey will be treated anonymously and will solely be used for academic research.
    Neither the experimenter nor anyone else will be able to identify you from the answers that you give in this survey.
    </i>

<hr>
<p>
    If you have read and understood these explanations, please click "Next" to enter a short training phase.
</p>
    {% next_button %}

{% endblock %}