{{ block title }}
Instructions
{{ endblock %}

{{ block content }}

       {{  formfield 'prolificid' }}
<hr>

<p><i>Please read the following explanations carefully!!</i></p>
<hr>


<h5><u>Background</u></h5>

<p>
    In this study, you will be choosing between workers from a previous study.

    {{ if player.participant.task == "logic" }}
    These workers are US residents who completed a <b>logic/math test</b>, including simple
    math exercises as well as questions in which the workers had to find a pattern in a logical sequence of figures in
    order to find the next figure of the sequence.
    The total number of correctly solved questions constitutes a workers <b>score</b>.
        Click <b id="trigger" style="color:darkred"> here </b> for an example screenshot.
        <div id="modal" class="modal">
            <span id="close" class="close">&times;</span>
            <img class="modal-content" id="img" src="{% static "screenshots/ass.JPG" %}" alt="logic/math test example screenshot" style="width:100%;max-width:800px">
            <div id="caption"></div>
        </div>

    {{ endif }}

{{ if player.participant.task == "realeffort" }}
    These workers are US residents who completed a <b>counting task</b> in which we repeatedly presented each worker
    with a matrix of zeros and ones and asked to indicate how many times the number "1" appears in that matrix.
    They had 5 minutes to solve as many matrices as possible.
    However, they always had the opportunity to abort the task and skip the remainder of it by just clicking an "Abort task & skip part" button.
    The total number of correctly solved matrices constitutes a workers <b>score</b>.
    Click <b id="trigger" style="color:darkred"> here </b> for an example screenshot.
        <div id="modal" class="modal">
            <span id="close" class="close">&times;</span>
            <img class="modal-content" id="img" src="{% static "screenshots/re.JPG" %}" alt="effort test example screenshot" style="width:100%;max-width:1000px">
            <div id="caption"></div>
        </div>
 {{ endif }}
</p>

<h5><u>Your bonus payment</u></h5>
<p>
    In this study, you get the chance to earn a bonus payment.
    This study consists of two main parts.
    At the end of this experiment, one of these two parts will be randomly selected as the "part-that-counts".
    The bonus that you earned in the "part-that-counts" will be paid out to you.
    The two parts are independent from each other, meaning that the decisions in part I do not affect part II.
    More details on how to earn the bonus in the respective parts will be provided on the next pages.
</p>
<hr>

<p>
    If you have read and understood all explanations, please click "Next" to start.
</p>
    {% next_button %}

{% endblock %}


{% block styles %}
<style>

    #consent:hover{
        cursor: pointer;
        }

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

    #trigger:hover{
        cursor: pointer;
        }

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        }

    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
        }

    .modal-content, #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
        }

    @keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
        }

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
        }

    @media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
        }
    }
</style>
{% endblock %}

{% block scripts %}
<script>
// SCREENSHOT FOR LOGIC/MATH TEST
// Get the modal
var modal = document.getElementById("modal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var trigger = document.getElementById("trigger");
var modalImg = document.getElementById("img");
var captionText = document.getElementById("caption");
trigger.onclick = function(){
  modal.style.display = "block";
  captionText.innerHTML = modalImg.alt;
};

// Get the <span> element that closes the modal
var span = document.getElementById("close");

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
};

</script>

{% endblock %}