{{ block title }}
Part I
{{ endblock %}

{{ block content }}

<hr>
<p><i>Please read the following explanations carefully!!</i></p>
<hr>

{{ if player.participant.task == "logic" }}

<h5><u>Your task</u></h5>
<p>
    In this part, you will be asked to rank the workers that we surveyed in the previous study.
    The workers are initially divided into two subgroups (male and female) and <b>you have to create a mixed ranking of all
    workers</b>.
</p>
<p>
    Both subgroups contain {{ C.number_of_workers_sep }} workers, i.e., there are {{ C.number_of_workers_sep }}
    female workers and {{ C.number_of_workers_sep }} male workers.
    For each worker, you will see their first name and their rank <b>within their subgroup</b> (i.e., within male or female workers).
    Here, rank 1) refers to the best performance in the logic/math test among all workers of the respective subgroup,
    and rank {{ C.number_of_workers_sep }}) refers to the lowest performance among all workers of the respective subgroup.
    To ensure that no rank is shared by two workers within a subgroup, we added a random number between 0 and 0.5
    to each worker's score.
 </p>
{{ endif }}


{{ if player.participant.task == "realeffort" }}

<h5><u>Your task</u></h5>
<p>
    In this part, you will be asked to rank the workers that we surveyed in the previous study.
    The workers are initially divided into two subgroups (male and female) and <b>you have to create a mixed ranking of all
    workers</b>.
</p>
<p>
    Both subgroups contain {{ C.number_of_workers_sep }} workers, i.e., there are {{ C.number_of_workers_sep }}
    female workers and {{ C.number_of_workers_sep }} male workers.
    For each worker, you will see their first name and their rank <b>within their subgroup</b> (i.e., within male or female workers).
    Here, rank 1) refers to the best performance in the counting task among all workers of the respective subgroup,
    and rank {{ C.number_of_workers_sep }}) refers to the lowest performance among all workers of the respective subgroup.
    To ensure that no rank is shared by two workers within a subgroup, we added a random number between 0 and 0.5
    to each worker's score.
 </p>
<p>

</p>
{{ endif }}


<h5><u>Your bonus payment</u></h5>
<p>
    In total, {{C.number_of_other_subjects}} other participants will also all rank the same workers as you.
    After all participants have ranked the workers, we will randomly assign a number between
    1 and {{ C.number_of_workers_tot }} to each participant.
    This number determines your position of when a worker will be allocated to you.
</p>
<p>
    The person with the number 1 gets their top-ranked worker (rank 1).
    The chosen worker is then not available anymore.
    The person with the number 2 gets their top-ranked worker unless this worker has already been allocated before,
    in which case they get the second-ranked worker, etc..
    This means that the worker allocated to each participant is always their respective best-ranked worker who
    is still available.
</p>
<p>
    If this part will be drawn as the part-that-counts, you will receive {{ C.conversionrate }} for each point
    of the productivity score of the worker that has been allocated to you.
</p>
<p> Example: After the study is completed by all participants, we assign you the number 4. Thus, the worker that will
    be allocated to you will be the worker that ranks highest in your ranking and that is still available after the
    first 3 other participants have been allocated their worker.
    If that worker got a productivity score of {{ C.examplescore }}, you will receive a bonus payment of {{ C.examplebonus}}.
</p>
<h5><u>Data</u></h5>
    <i>
    Remember: All data that you enter in this survey will be treated anonymously and will solely be used for academic research.
    Neither the experimenter nor anyone else will be able to identify you from the answers that you give in this survey.
    </i>

<hr>
<p>
    If you have read and understood these explanations, please click "Next" to enter a short training phase.
</p>
    {% next_button %}

{% endblock %}

